/* body {
    background-image: url('../images/ampliado.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */

/* .contenedor {
    background-image: url('../images/sin\ fondo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 80%;
}
 */
.casilla {
    background-image: url('../images/casilla-recta.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contador {
    user-select: none; /* Desactivar la selección de texto */
}


@media (max-width: 640px) {
    .casilla {
        width: 4rem; /* 64px */
        height: 4rem; /* 64px */
        padding: 0.5rem; /* 8px */
    }

    .contador p {
        font-size: 1rem; /* 16px */
    }

    button {
        padding: 0.5rem 1rem; /* 8px 16px */
    }
}