/* body {
    background-image: url('../images/ampliado.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */

.contenedor {
    background-image: url('../images/swit.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 70%;
}

.grilla {
    margin-left: 23%;
    margin-right: 23%;
}

@media (max-width: 640px) {
    .casilla {
        width: 4rem; /* 64px */
        height: 4rem; /* 64px */
        padding: 0.5rem; /* 8px */
    }

    .contador p {
        font-size: 1rem; /* 16px */
    }

    button {
        padding: 0.5rem 1rem; /* 8px 16px */
    }
}