
.casilla {
    background-image: url('../images/casilla-recta.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.casilla img {
    opacity: 90;
    animation: caida 0.3s ease-in-out;
    cursor: grab;
}

.botones {
    display: flex;
    justify-content: center;
}

.contador {
    user-select: none; /* Desactivar la selección de texto */
    border: 2px solid black;
    border-radius: 5px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    width: 20%;
    min-width: fit-content;
    padding: 5px;
}

.boton {
    padding: 5px;
}


#divLogros, #divInfoConsola {
    z-index: 100;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    min-height: 60%;
    max-height: 70%;
    overflow-y: scroll;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.708);
    background-color: rgba(255, 255, 255, 0.936);
    
}

#divLogros::-webkit-scrollbar, #divInfoConsola::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

#divLogros button, #divInfoConsola button {
    position: absolute;
    right: 0;
    top: 0; 
    
    &:hover {
        color: white;
        background-color: #e81123;
        
        transition: 0.2s;
    }
}

.infoConsola {
    display: flex;  
    img {
        margin-right: 3%;
        margin-bottom: 2%;
    }
}

.dinero {
    user-select: none;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    color: white;
    margin-left: 2%;
    animation: desaparecerDinero 1.5s ease-in-out forwards;

    img {
        width: 20px;
        height: 20px;
    }

}


@keyframes caida {
    0% {
        transform: translateY(-10px);
    }
    30% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes desaparecerDinero {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    10% {
        opacity: 1;
    }

    50% {
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-5);
    }
}


@media (max-width: 640px) {
    .casilla {
        width: 4rem; /* 64px */
        height: 4rem; /* 64px */
        padding: 0.5rem; /* 8px */
    }

    .contador p {
        font-size: 1rem; /* 16px */
    }

    button {
        padding: 0.5rem 1rem; /* 8px 16px */
    }

    #divLogros {
        width: 90%;
    }
}