.navbar {
    background-color: #333 !important;
}
.navbar-brand, .nav-link, .dropdown-item {
    color: #FF851B !important;
}
.navbar-toggler {
    border-color: #FF851B !important;
    background-color: #FF851B !important;
}
navbar-toggler-icon {
    border-color: #e07b1a
}

.dropdown-menu {
    background-color: #444 !important;
}
.dropdown-item:hover {
    background-color: #555 !important;
}
body {
    background-color: #222;
    color: white;
}
.card {
    background-color: #333;
    border-color: #FF851B;
}
.card-header {
    background-color: #FF851B;
    color: #333;
}
.btn-primary {
    background-color: #FF851B;
    border-color: #FF851B;
    color: #333;
}
.btn-primary:hover {
    background-color: #e07b1a;
    border-color: #e07b1a;
    color: #333;
}
.form-control {
    background-color: #444;
    border-color: #FF851B;
    color: white;
}
.form-check-input {
    background-color: #444;
    border-color: #FF851B;
    color: white;
}